@charset "UTF-8";

#mypage .user-info { padding: 20px 0; }

#mypage .user-info .title { font-size: 25px; }

#mypage .user-info p { margin-bottom: 5px; }

.user-info span { font-size: 20px; }

.user-info .text-muted {
    font-size: 1em;
}