@charset "UTF-8";

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #645ccf;
}
.btn:hover {
    background: #ddd;
}


aside {
    position: fixed;
    bottom: 0;
    width: 350px;
    height: calc(100% - 80px);
    padding: 50px 0;
    background-color: #fff;
    box-shadow: 0 0 10px 8px #00000010;
    z-index: 50;
}

/* Search */

#search-side {
    left: 0;
}

#size {
    width: 100%;
    height: 100%;
    padding-right: 40px;
}

#size::-webkit-outer-spin-button,
#size::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

.view-unit {
    position: relative;
}

.view-unit::after {
    content: '㎡';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font: 18px "Nanum Gothic";
    font-weight: bold;
    
}

#chaining {
    display: block;
    width: 30px;
    height: 30px;
}

.reserve-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: calc(100% - 70px);
}

.reserve-list .item {
    width: 100%;
    margin: 20px 0;
    height: 100px;
    background-color: #fff;
    padding: 10px 20px;
    transition: transform 0.2s;
    border: 1px solid #d3d2d2;
}
.reserve-list .item:hover {
    box-shadow: 0 0 7px 6px #00000010;
    transform: translateY(-10px);
    transition: transform 0.4s;
    cursor: pointer;
}

/* Main */

#booth-data {
    background-color: #f1f1f1;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 80px);
    padding-top: 30px;
    text-align: center;
}

#booth-data rect, #booth-data text {
    cursor: pointer;
}

#booth-data rect.active {
    fill: #645ccf!important;
}

/* View */

#view-side {
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    overflow-y: auto;
}

#view-side .view-item {
    width: 100%;
    margin: 20px 0;
    height: 100px;
    background-color: #fff;
    padding: 10px 20px;
    transition: transform 0.2s;
    border: 1px solid #7c7979;
}
#view-side .view-item:hover {
    box-shadow: 0 0 10px 6px #00000010;
    transform: translateY(-10px);
    transition: transform 0.4s;
    cursor: pointer;
}

#view-side .info { pointer-events: none; }


/* View Gallery */

.view-gallery {
    position: fixed;
    right: -500px;
    bottom: 0;
    width: 500px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px 5px #00000010;
    padding: 40px 20px;
    transition: right 0.5s;
}
